<div id="<%= dom_id customer %>">
  <div>
    <strong>Firstname:</strong>
    <%= customer.FirstName %>
  </div>

  <div>
    <strong>Lastname:</strong>
    <%= customer.LastName %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= customer.Address %>
  </div>

  <div>
    <strong>phone:</strong>
    <%= customer.phone %>
  </div>

</div>
