<div id="<%= dom_id product %>">
  <div>
    <strong>Id:</strong>
    <%= product.id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= product.Name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= product.Description %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= product.price %>
  </div>
  <div>
    <strong>quantity:</strong>
    <%= product.quantity %>
  </div>
</div>
